.contact-section {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.contact-section-header {
    display: flex;
    flex-direction: column;
}
.contact-section-userinfo {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #fff;
}
