.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6vh;
    background-color: rgb(109, 8, 8);
}
.header-wrapper {
    width: 75%;
    max-width: 75vw;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    border: 1px solid #000;
}
/* ! -------------------------------- Header container -------------------------------- ! */
.userprofile {
    display: flex;
}
/* ! -------------------------------- Header componenets -------------------------------- ! */
